<div class="hover:bg-gray-900 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg">
    <div class="py-4 px-8">
        <img [src]="postData.owner.picture" class="rounded-full h-12 w-12 mb-4">
        <a href="#">
            <h4 class="text-lg mb-3 font-semibold">{{postData.owner.firstName}}</h4>
        </a>
        <p class="mb-2 text-sm ">{{postData.text}}</p>

        <img [src]="postData.image" class="w-100">

        <hr class="mt-4">
        <span class="text-xs">ARTICLE</span>
        &nbsp;<span class="text-xs text-gray-500">PROCESS</span>
    </div>
    <div>{{postData | json }}</div>
</div>
