<header class="">
    <nav class="mx-auto flex max-w-12xl items-center justify-between p-6 lg:px-8 bg-gradient-to-r from-indigo-300 via-pink-200 to-pink-300 fixed w-full z-50 max-h-2" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="../../../favicon.ico" alt="ng">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-dark-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden xl:flex lg:gap-x-12">
        <a href="#" class="text-lg font-semibold leading-6 text-gray-900">Home</a>
        <a href="#" class="text-lg font-semibold leading-6 text-gray-900">Blog Post</a>
        <a href="#" class="text-lg font-semibold leading-6 text-gray-900">Company</a>
     
        <!-- <form>    -->
          <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none w-full">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                  </svg>
              </div>
              <input type="search" id="default-search" class="block p-2 ps-10 text-sm text-gray-900 rounded-xl bg-gray-5 outline-none" placeholder="Search Posts,Tags,Users..." required>
              <button type="submit" class="text-white absolute end-1 bottom-2 bg-indigo-500 hover:bg-indigo-600 font-medium rounded-lg text-sm px-4 py-auto">Search</button>
          </div>
        <!-- </form> -->
      </div>

      

      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-lg font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>

  